*{
    padding: 0;
    margin: 0;
}

body{
  background-color:black;
}

li a{
 text-decoration: none; /*Remove o sublinhado */
 font-size: 20px; /* Tamanho da font*/
 color: #ffffff;
 padding: 20px;
}
/* Remover a formatação da lista
 */
li {
    list-style: none; 
}

#logo{

height: 90px; /*Altura*/
width: 140px; /*Largura*/
}

ul{
  display: flex; /*indica a propriedade Flexbox
  flex-direction: row; /*colocar os elementos na horizontal ou na vertical*/
   align-items: center;
}

.menu{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.caixa-img-logo{
  height: 90px;
  width: 90px;
}

.bi{
  font-size: 50px;
  color: #4c544c;
}

.banner{
  background-image: url("./assets/banner.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 400px;
  width: 800px;
  border-radius: 25px;
}